<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Dirt Dudes</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="scheduler" class="menu-scheduler">
      Services
    </LinkTo>
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
  </div>
</nav>