<div class="container-1">
    <ServicesBox 
        @service="Mowing" 
        @serviceDetails="Our mowing service includes mowing, trimming, and blowing off all hard surfaces. We offer weekly and bi-weekly service."/>
    <ServicesBox 
        @service="Mowing" 
        @serviceDetails="Our mowing service includes mowing, trimming, and blowing off all hard surfaces. We offer weekly and bi-weekly service."/>
    <ServicesBox 
        @service="Mowing" 
        @serviceDetails="Our mowing service includes mowing, trimming, and blowing off all hard surfaces. We offer weekly and bi-weekly service."/>
  </div>