<div class="service-form">
    <p>Service Form</p>
    <div class="service-form-inputs">
        <Input type="text" value={{this.requestedService}} placeholder="Date of Requested Service" />
        <Input type="text" value={{this.name}} placeholder="Your Name" />
        <Input type="text" value={{this.email}} placeholder="Your Email (email@email.com)" />
    </div> 
</div>