<div class="box-1">
    <img src="/images/lawnmower.jpg" alt="Lawn Mower Icon">
    <h4>{{@service}}</h4>
    <p>{{@serviceDetails}}</p>
    <button class="box-button" type="button">Learn More</button>
</div>

{{!-- Our mowing service includes mowing, trimming, and blowing off all hard surfaces. We offer weekly and bi-weekly service. --}}