<div class="box-1">
    <img src="https://www.clipartmax.com/png/small/265-2658287_lawn-mower-icon-lawn.png" alt="Lawn Mower Icon - Lawn @clipartmax.com">
    <h4>Mowing</h4>
    <p>Our mowing service includes mowing, trimming, and blowing off all hard surfaces. We offer weekly and bi-weekly service.</p>
</div>