<div class="header-box">
    <Jumbo>
        <h1>Dirt Dudes</h1>
            <p>Your yard is our canvas - let the Dirt Dudes paint it green</p>
        <LinkTo @route="about" class="button">About Us</LinkTo>
    </Jumbo>
</div>
<div class="container">
    <ServicesContainer />
    <div class="bar-1-green"></div>
    
    <div class="reviews">
     <Review::review>
        <p>“I love Dirt Dudes! My yard has never looked better.”</p>
        <img src="/images/5_stars_1.svg" alt="5-star review">
     </Review::review>
    </div>
</div>


 
