<div class="header-box">
    <Jumbo>
        <h1>Dirt Dudes</h1>
            <p>Your yard is our canvas - let the Dirt Dudes paint it green</p>
        <ul class="header-list">
            <li><LinkTo @route="scheduler" class="button">Request Service</LinkTo></li>
            <li><LinkTo @route="about" class="button">About Us</LinkTo></li>
        </ul>
    </Jumbo>
</div>
<div class="container">
    <ServicesContainer />
    
    <div class="reviews">
     <Review::review>
        <img class="title-img-review" src="/images/mow_this.png" alt="Grass">
        <p>“I love Dirt Dudes! My yard has never looked better.”</p>
        <p class="reviewer">Jane</p>
        <img class="review-star" src="/images/5_stars_1.svg" alt="5-star review">
     </Review::review>
    </div>
</div>


 
