<div class ="Schedular-Main">
    <div class="Schedular-Container">
        <div class="Schedular-Header">
            <h1>Book an Appointment</h1>
        </div>
        <div class="Schedular-Body">
            <div class="Schedular-Body-Left">
                <div class="Schedular-Body-Left-Header">
                    <h2>Choose a Service</h2>
                </div>
                <div class="Schedular-Body-Left-Body">
                    <div class="Schedular-Body-Left-Body-Container">
                        <div class="Schedular-Body-Left-Body-Container-Header">
                            <h3>Service 1</h3>
                        </div>
                        <div class="Schedular-Body-Left-Body-Container-Body">
                            <p>Service 1 Description</p>
                        </div>
                    </div>
                    <div class="Schedular-Body-Left-Body-Container">
                        <div class="Schedular-Body-Left-Body-Container-Header">
                            <h3>Service 2</h3>
                        </div>
                        <div class="Schedular-Body-Left-Body-Container-Body">
                            <p>Service 2 Description</p>
                        </div>
                    </div>
                    <div class="Schedular-Body-Left-Body-Container">
                        <div class="Schedular-Body-Left-Body-Container-Header">
                            <h3>Service 3</h3>
                        </div>
                        <div class="Schedular-Body-Left-Body-Container-Body">
                            <p>Service 3 Description</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Schedular-Body-Right">
                <div class="Schedular-Body-Right-Header">
                    <h2>Choose a Date</h2>
                </div>
                <div class="Schedular-Body-Right-Body">
                    <div class="Schedular-Body-Right-Body-Container">
                        <div class="Schedular-Body-Right-Body-Container-Header">
                            <h3>Monday</h3>
                        </div>
                        <div class
</div>